CONFIG_SDK_USER_ENTRYPOINT="spresense_main"
CONFIG_CXD56_SDIO=y
CONFIG_CXD56_EMMC=y
CONFIG_CXD56_SPI=y
CONFIG_CXD56_SPI3=y
CONFIG_CXD56_SPI5=y
CONFIG_CXD56_I2C=y
CONFIG_CXD56_I2C0=y
# CONFIG_CXD56_SCU is not set
CONFIG_LCD=y
CONFIG_LCD_ILI9340=y
CONFIG_LCD_ILI9340_IFACE0=y
CONFIG_LCD_ILI9340_IFACE0_RLANDSCAPE=y
CONFIG_ASMP=y
CONFIG_NSH_ROMFSETC=y
CONFIG_NSH_CUSTOMROMFS=y
CONFIG_NSH_CUSTOMROMFS_HEADER="../../examples/nes/boot_script/nsh_romfsimg.h"
CONFIG_EXAMPLES_NES=y
